# Node modules
node_modules/

# Builds
dist/
build/
temp/
*.log

# System
.DS_Store

# Environnement local
.env
.env.local
.env.*.local

# Test coverage
coverage/

# Electron build
out/

# IDE
.vscode/
.idea/
